.title{
   color: rgb(186, 227, 255);
   font-family: 'Times New Roman', serif;
   text-align: center;
   font-size: 80px;
   margin-bottom: 10px;
}

.undertitle{
   color: rgb(186, 227, 255);
   text-align: center;

}

body{
   background-color: rgb(44, 44, 44);
}

listitem{
   margin-left: 100px;
   color:rgb(184, 177, 228);
   width: 150px;
   height: 40px;
   font-size: 17px;
   font-family: 'Times New Roman', Times, serif;
}

a:visited{
   color: rgb(184, 177, 228);
   background-color: transparent;
   text-decoration: none;
}

.navigation{
   margin-left: 100px;
   font-size: 30px;
   color: rgb(118, 139, 153);
   margin-bottom: 10px;
   margin-top: 150px;
}